/********* Font-Fmily *****************/
@font-face {
  font-family: "AbrilFatface";
  src: url("police/AbrilFatface-Regular.ttf");
}
@font-face {
  font-family: "openSans";
  src: url("police/openSans/OpenSans-Regular.ttf");
}
/*********** style : Body ************/
* {
  list-style-type: none;
}

body {
  font-family: "openSans";
  background-color: white;
  width: 100%;
  margin: 0;
  padding: 0;
}

h3 {
  font: 900 1.3em "AbrilFatface";
}

a {
  cursor: pointer;
  text-decoration: none;
  color: currentColor;
  opacity: 90%;
}

/************** HEADER *************/
/************** SECTION : PRESENTATION **************/
.section {
  width: 100%;
  height: 1390px;
}

.imageHaut {
  background-image: url("../image/imageHaut.jpg");
  width: 100%;
  height: 455px;
  margin-bottom: 5%;
}

.description {
  width: 90%;
  height: 400px;
  margin: auto;
  margin-top: 2%;
  margin-bottom: 2%;
  background: #515151;
  color: white;
  border-radius: 35px;
}

.textDescription {
  width: 80%;
  margin: auto;
  padding-top: 2%;
}

.galerie {
  width: 90%;
  height: 303px;
  margin: auto;
  margin-top: 2%;
  margin-bottom: 2%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.photo {
  width: 30%;
}

.contact {
  width: 15%;
  margin: auto;
  margin-top: 2%;
  margin-bottom: 2%;
}

.textContact {
  color: #FFF;
  display: flex;
  justify-content: center;
  margin: auto;
  opacity: 0.9;
  font: 100 1.7em "openSans";
}

/************* Carte : iframe *****************/
.sectionCarte {
  margin-top: 5%;
}

.carte {
  width: 90%;
  height: 580px;
  margin: auto;
  margin-top: 5%;
  margin-bottom: 7%;
  background: white;
}

.localisation {
  border: 0;
  height: 580px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 15px;
}

.separation {
  border: 1px solid #34666dbe;
  width: 60%;
  margin: auto;
}

/************* FOOTER *************************/
footer {
<<<<<<< HEAD
  height: 338px;
  background-color: #aabeba;
=======
  background-color: #373737;
>>>>>>> a88633c2073191e869e8fdd2c82232bd7311d01c
  color: white;
  margin-top: 5%;
}

.logo {
  width: 100%;
  height: 109px;
}

.imageLogo {
  width: 50%;
  height: 100px;
}

.textFooter {
<<<<<<< HEAD
  width: 95%;
  height: 250px;
  margin: auto;
  padding-top: 2%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: baseline;
=======
  width: 100%;
  height: 300px;
  margin-left: 4%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
>>>>>>> a88633c2073191e869e8fdd2c82232bd7311d01c
}

.coordonnee,
.adresse,
.horaires {
  width: 32%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font: 200 1.2em "openSans";
}

.textAdresse {
  padding: 0;
  height: 149px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.textHoraires {
  margin: 0;
  padding: 0;
}

.btn {
  text-align: center;
<<<<<<< HEAD
  border-radius: 12px;
  box-shadow: 6px 7px 15px #777676;
  background: linear-gradient(171deg, #ffffff, #c5c5c5);
  color: black;
}
.btn:hover {
  background: linear-gradient(171deg, #ffffff, #d5e3e3);
  box-shadow: 6px 7px 10px #34666d66;
=======
  background: #005F6B;
  border-radius: 12px;
  box-shadow: 6px 7px 15px #005F6B;
}
.btn:hover {
  background: #005F6B;
  box-shadow: 6px 7px 10px #FFF1AA;
>>>>>>> a88633c2073191e869e8fdd2c82232bd7311d01c
}

.btnFooterCoordonnee {
  width: 195px;
  height: 45px;
}

.btnFooterAdresse {
  width: 195px;
  height: 45px;
}

.lienAdresse,
.telephone {
  display: inline-block;
  text-transform: uppercase;
  margin-top: 6%;
}

/*# sourceMappingURL=style.css.map */
